<% if key = params[:key] %>

  <p class='sub'>
    Showing <%= start = params[:start].to_i %> to <%= start + 20 %> of <b><%=size = get_size_of(key) %></b>
  </p>

  <h1>Key "<%= key %>"</h1>
  <table>
    <% get_value_as_array(key, start).each do |row| %>
    <tr>
      <td>
        <%= row %>
      </td>
    </tr>
    <% end %>
  </table>

<%= partial :next_more, :start => start, :size => size %>
<% end %>
