<% @subtabs = %w( resque store keys ) %>

<% if params[:key] %>

<%= partial :key_sets %>

<% elsif params[:id] == "resque" %>

  <h1><%= resque %></h1>
  <table class='stats'>
  <% resque.info.to_a.sort_by { |i| i[0].to_s }.each do |key, value| %>
    <tr>
      <th>
        <%= key %>
      </th>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
  </table>

<% elsif params[:id] == 'store' %>

  <h1><%= resque.data_store %></h1>
  <table class='stats'>
  <% resque.info.to_a.sort_by { |i| i[0].to_s }.each do |key, value| %>
    <tr>
      <th>
        <%= key %>
      </th>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
  </table>

<% elsif params[:id] == 'keys' %>

  <h1>Keys owned by <%= resque %></h1>
  <table class='stats'>
    <tr>
      <th>key</th>
      <th>size</th>
    </tr>
  <% resque.keys.sort.each do |key| %>
    <tr>
      <th>
        <a href="<%=u "/stats/keys/#{key}" %>"><%= key %></a>
      </th>
      <td><%= get_size_of key %></td>
    </tr>
  <% end %>
  </table>

<% else %>

<% end %>
